// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Mixins
@import "mixins";

#welcome-page{
    .full-height {
        height: 100vh;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    .content {
        text-align: center;
    }

    .title {
        font-size: 84px;
    }

    .links > a {
        color: #636b6f;
        padding: 0 25px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    .m-b-md {
        margin-bottom: 30px;
    }
}

.back-indigo{
    background-color: $indigo;
    color: white;
    font-size: 25px;
}

#emailTemplate-page{
    .card-back{
        background-color: $indigo;
        color: white;
        font-size: 14px;
    }
    li {
        list-style: none;
        font-size: 7px;
        background-color: #1d643b;
        @include templateGrid(4, 2%);
        &:hover {
            .card-back{
                color: black;
                background-color: #f2f2f2;
            }
            .card-body{
                background-color: #f2f2f2;
                height: 200px;
                img{
                    width: 80%;
                }
            }
        }
    }
    .card-body{
        height: 200px;
        img{
            width: 60%;
        }
    }
}
