// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Bootstrap-select
@import '~bootstrap-select/sass/bootstrap-select';

//Summernote Editor
@import '~summernote/src/styles/summernote-bs4';

// Mixins
@import "mixins";




#welcome-page{
    .full-height {
        height: 100vh;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    .content {
        text-align: center;
    }

    .title {
        font-size: 84px;
    }

    .links > a {
        color: #636b6f;
        padding: 0 25px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    .m-b-md {
        margin-bottom: 30px;
    }
}

.back-indigo{
    background-color: $indigo;
    color: white;
    font-size: 25px;
}

#emailTemplate-page{
    .card-back{
        background-color: $indigo;
        color: white;
        font-size: 14px;
    }
    li {
        list-style: none;
        font-size: 7px;
        background-color: #1d643b;
        @media screen and (max-width: 992px){
            @include templateGrid(2, 4%);
        }
        @media screen and (max-width: 576px){
            @include templateGrid(1, 10%);
        }
        @include templateGrid(4, 2%);
        &:hover {
            .card{
                border: 1px solid rgba(101, 116, 205, 0.2);
                border-radius: 0.25rem;
            }
            .card-header{
                font-weight: bold;
                border-bottom: 0px;
            }
            .card-back{
                color: black;
                background-color: rgba(101, 116, 205, 0.5);
            }
            .card-body{
                background-color: rgba(245, 237, 237, 0.2);;
                img{
                    opacity: 1.0;
                    width: 45%;
                }
            }
        }
    }
    .card-body{
        height: 200px;
        img{
            opacity: 0.8;
            margin-top: 25px;
            width: 35%;
        }
    }
}


#newApplication-page{
    .bootstrap-select .btn{
        background-color: #ffffff;
        border: 1px solid #ced4da;
        border-radius: 0.25em;
    }
}


#dashboard-page{
    #side-min{
        display: none;
        img{
            display: block;
            margin: auto;
            width: 50px;
        }
        a{
            display: block;
            font-size: 0.7rem;
            text-align: center;
        }
    }
    #sideBar{
        background-image: linear-gradient(to bottom, $col-light-blue, $col-light-purple);
        max-width: 240px;
        height: 100vh;
        @media screen and (max-width: $sider-bar-break-point) {
            max-width: 72px;
            #side-min{
                display: block;
            }
            #side-full{
                display: none;
            }
        }
        /*TODO: hide navigation bar, add a button to show it again*/
        @media screen and (max-width: 576px){
            display: none;

        }
    }
    #dashboard{
        height: 100%;
        flex: 1;
    }

    .nav-title{
        text-shadow: 0 2px 5px #5361FF;
    }

    .sidebar-select{
        padding: 0;
       .side-links {
            width: 100%;
            display: inline-block;
            border-left: 5px solid rgba(255, 255, 255, 0);
            border-right: 5px solid rgba(255, 255, 255, 0);
            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
                border-left: 5px solid white;
            }
           a{
               color: white;
               &:visited{
                   text-decoration: none;
               }
               &:hover{
                   text-decoration: none;
               }
           }
        }
    }

}
