//Quick fix of the float content
@mixin clearFix{
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}

//Email Template Page Grid Mixin
@mixin templateGrid($cols, $mgn){
    float: left;
    margin-right: $mgn;
    margin-bottom: $mgn;
    width: ((100% - ($cols - 1) * $mgn) / $cols);
    &:nth-child(#{$cols}n){
    margin-right: 0;
    }
}


@mixin cardSectionGrid($card-w){
    float: left;

}

@mixin border-triangle($size, $color, $direction, $right:0, $bottom:0){
    position: relative;
    &:after{
        content: '';
        position: absolute;
        border: $size solid;
        border-color: transparent;
        border-#{$direction}-color: $color;
        right: $right;
        bottom: $bottom;
        pointer-events: none;
    }

}


